target/
**/target/
**/node_modules/
admin/dist/
.git/
.github/
*.md
!admin/README.md
search-index/
uploads/
themes/
plugins/
.env
.envrc
.idea/
.vscode/
*.log
docker-compose.yaml
docker-compose.override.yaml
